body {
    font-family: Arial, sans-serif;
    background-color: #f7f8fc; /* Cor de fundo geral */
    margin: 0;
    padding: 0;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #ffffff; /* Fundo branco */
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada ao passar o mouse */
}

.product-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-card h2 {
    color: #6a5acd; /* Lilás */
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-card p {
    color: #666;
    margin-bottom: 8px;
}

.product-card a {
    display: inline-block;
    background-color: #6a5acd; /* Lilás */
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.product-card a:hover {
    background-color: #4b0082; /* Lilás escuro ao passar o mouse */
}

.product-card button {
    background-color: #ff6347; /* Coral */
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.product-card button:hover {
    background-color: #cc4c39; /* Coral mais escuro ao passar o mouse */
}
